body {
	text-align: center;
}

p {
	font-size: 20px;
}

.container {
	width: 980px;
	margin: 0 auto;
	background-color: #fff;
	display: flex;
}

.box {
	background-color: #808080;
	color: white;
	text-align: center;
	border-radius: 5px;
	padding: 20px;
	margin: 10px;
}
